header {
  background-color: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: yellow;
  height: 75px;
  padding: 2%;
}

.Site_Name {
  color: yellow;
  font-family: 'YRSA', serif;
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
}

.links {
  float: left;
  margin: 0;
  padding-left: 30%;
  width: 100%;
}

.menu_list {
  color: white;
  display: inline-block;
  margin: 1%;
}

.find {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
    font-weight: 800;
}

.tagline_section {
  background-color: #b8bbaf;
  font-family: "Times New Roman", serif;
  font-size: x-large;
  font-style: italic;
  height: 25px;
  padding: 2%;
  text-align: center;
}

.tagline {
  margin: 0;
}

.taste {
  color: #868c78;
  text-decoration: line-through
}

.are {
  border-bottom-color: yellow;
  border-bottom-style: solid;
  border-bottom-width: medium;
}

.photo_section {
  background-image: url("../images/coworking.jpg");
  background-size: cover;
  height: 300px;
  padding: 3%;
}

.blurb {
  background-color: rgba(228, 229, 225, 0.75);
  float: right;
  height: 250px;
  padding: 4%;
  width: 27%;
}

h2 {
  font-size: large;
  margin: 0;
}

.button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 800;
  height: 25px;
  margin: 0;
  padding: 2%;
  text-align: center;
  width: 90%;
}

.button_yellow {
  background-color: yellow;
}

.button_gray {
  background-color: #b8bbaf;
}

.feature_section {
  height: 275px;
}

.feature {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #b8bbaf;
  float: left;
  padding: 3%;
  width: 27%;
}

h3 {
  font-family: 'YRSA', serif;
  font-size: x-large;
  margin: 0;
}

.text_block {
  margin: 2% 0 12% 0;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

footer {
  background-color: black;
  color: white;
  font-size: small;
  padding: 1%;
}
